body{
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}

.container-fluid{
    background-image: url('./firstbg.jpg');
    background-size: cover;
}

.img-thumbnail{
    margin-top:40px;
    margin-bottom: 30px;
    box-shadow: 0 6px 10px rgba(2,2,2,2), 0 0 6px rgba(231, 110, 10, 0.76);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.text{
    margin-top:100px;
    text-align: right;
}

.text-1{
    font-style:monospace;
}

.btn{
    background-image:url('./black.gif');
    border-radius:5px;
    padding:5px;
    margin-left:3px;
    text-align:center;
}

.btn:hover{
    color:rgb(240, 132, 9);
    box-shadow: 0 6px 10px rgba(2,2,2,2), 0 0 6px rgba(231, 110, 10, 0.76);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.nav-link{
    color: black;
    margin-left:30px;
}

.nav-link:hover{
    color:rgb(238, 159, 12);
}

.img-responsive{
    width:18px;
    height:18px;
    margin-right:5px;
}

.nav-item1{
    margin-top:8px;
}

.card{
    padding:30px;
    background-image:url('./cardbg.jpg');
    background-size: cover;
    box-shadow: 0 6px 10px rgba(2,2,2,2), 0 0 6px rgba(231, 110, 10, 0.76);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.text-2{
    text-align: center;
    padding:30px;
}


.text-3{
    padding:30px;
    text-align: center;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color:white;
    border-radius: 25px;
  }

  .progress-bar{
      background:url('./black.gif');
     
  }
  
  .progress{
      border: solid black;
      background-color: rgb(231, 226, 226);
  }

  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .chip{
      background-image:url('./black.gif');
      margin-left: 50px;
  }

  input[type=text], input[type=email] {
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 10px;
    background:url('./black.gif');
    color:white;
  }

  input[type=text]:focus, input[type=email]:focus {
    color:white;
  }
  
  .submit{
      background:url('./black.gif');
      padding:5px;
      color:white;
      margin-top:20px;
      width:100%;
      border-radius:10px;
  }

  .footer{
      background-color: black;
      margin-top:20px;
      text-align:center;
  }

  


